remoteDBhost qrg887.dbname.net
host /Applications/MAMP/htdocs/unity/
localDBpass miguel
remoteDBname qrg887
remoteDBpass gnmpgfV1
dZ 0.06428573
dY 1135.7772
dX 4759.555
localDBhost localhost:8889
remoteDBuser qrg887
localDBname unity
rally suecia
trackThreshold 50
focus 1
localDBuser miguel
refUtmZone 33
backupPath backup/